{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Repairs Overview</title>
        {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}
    </head>
    <body>
        <header class=>
            <div class=>
                <a>
            
                </a>
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
        </header>
        <main class="content container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>