{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Repairs Overview</title>
        {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}

        <meta charset="UTF-8">
        <title>Repairs Overview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>  
    
    </head>
    <body>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Final.Project</label>
            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a class="active" href="#">Home</a></li>
                <li><a class="active" href="#">Home</a></li>
                <li><a class="active" href="#">Home</a></li>
                <li><a class="active" href="#">Home</a></li>
    
            </ul>
    
        </nav>

        
        <header class=>
            <div class=>
                <a>
            
                </a>
                <h1><a href="/"> Repair Tiles </a></h1>
            </div>
        </header>
        <main class="content container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
